@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;500&display=swap");
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: "Montserrat", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Montserrat", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.28571429em;
  margin: calc(2rem - 0.14286em) 0 1rem;
  font-weight: 700;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
a:after {
  display: block;
  content: "";
  border-bottom: solid 3px white;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
  padding: 3px;
}

a:hover:after {
  transform: scaleX(1);
}

a {
  animation-duration: 1s;
  animation-name: slidein;
}

p{
  font-size: 17px;
}

@keyframes slidein {
  from {
    margin-left: 70%;
  }

  to {
    margin-left: 0%;
  }
}
